<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MinesweeperCenter</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/gamestudio.css" />

</head>
<body>
	<div class="maincenter">
		<span th:if="${@miniController.marking}">
			<p>MARKING</p> <a href='/mini/change'> <img
				src='/images/mini/ON.jpg'>
		</a>
		</span> <span th:if="${not @miniController.marking}">
			<p>OPENING</p> <a href='/mini/change'> <img
				src='/images/mini/OFF.jpg'>
		</a>
		</span>

		<div th:if="${not @miniController.solved}">
			<h1>YOU SOLVED MINESWEEPERS</h1>
			<img src='/vault-boy.png'>
		</div>

		<div th:if="${@miniController.solved}">
			<div align="center" th:utext="${@miniController.htmlField}" />
		</div>
	</div>
</body>
</html>
