.col-12>div>span>a>img{
	 height: 30px;
	 width: auto;
	 border: 0;
}
.col-12>div>div>table>tbody{
	background: #c0c0c0;
}
.col-12>div>div>table{
	text-align: center;
	margin: auto;
}
.col-12>div>div>table>tbody *{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	width: 20px;
	font-size: 0;
}