<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hang Man</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {
	background-color: black;
	color: gray;
}
</style>
</head>
<body>
	<h1>Hang Man</h1>

	<a href="/">-- Back to Menu --</a>
	<br />
	<a href="/hangman/new">-- New game --</a>
	<br />

	<form action="/hangman" metod="get" class="container">
		<h3>Login</h3>

		<label for="input"> Guess Name </label> <br> <input type="text"
			placeholder="Guess Name" name="input" autofocus> <br>

		<button type="submit" class="button" value="Login">Send</button>
	</form>
	</div>


	<div th:if="${@hangManController.solved}">
		<h1>YOU SOLVED HANGMAN</h1>
	</div>
	<div th:if="${not @hangManController.solved}">
		<h1>
			<div th:text="${@hangManController.message}" />
		</h1>
		<div th:text="${@hangManController.message2}" />
		<h1>
			<div th:text="${@hangManController.message3}" />
		</h1>
	</div>
		<h3>Scores</h3>
		<ol>
			<li th:each="score : ${@hangManController.scores}">
				<span th:text="${score.username}" /></span> 
				<span th:text="${score.value}" /></span> 
				<span th:text="${score.ident}" /></span> 
				<span th:text="${score.game}" /></span>
			</li>
		</ol>
</body>
</html>
