.<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Minesweeper</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/gamestudio.css" />
<link rel="stylesheet" href="/css/gamestudio - mini.css" />

</head>
<body>
	<div class="textTop">
		<h1>Game Studio</h1>
	</div>

	<div class="menu1" style="overflow: auto">

		<div class="menuLeft">
			<a href="/">-- Back to Menu --</a> <br /> <a href="/mini">-- New
				game --</a> <br />
			<div th:if="${not @mainController.logged}">
				You are notlogged Please <a href="/">log in</a><br />
			</div>

			<div th:if="${@mainController.logged}">
				<span>Hi </span> 
				<span class=meno th:text="${@mainController.loggedPlayer.name}" />
				<span>enjoy the Minesweeper</span>
			</div>
		</div>

		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-12">

						<!-- tu daj stred -->
						
						<!-- <div th:utext="${@miniController.htmlField}" /> -->

						<!-- <div th:if="${not @miniController.solved}"> -->
							<div th:if="${@miniController.win}">
								<h3>YOU WIN MINESWEEPERS</h3>
								<img class="Boy" src='/images/vault-boy.png'>
							</div>
							<div th:if="${@miniController.lose}">
								<h3>YOU LOSE MINESWEEPERS</h3>
								<img class="Boy" src='/images/vault-boy2.png'>
							</div>
						<!-- </div> -->
						
						<div th:if="${@miniController.solved}">
						<div th:utext="${@miniController.htmlField}" />
						<br>
						<span th:if="${@miniController.marking}">MARKING
								<a href='/mini/change'><img border="0"
									src='/images/mini/ON.jpg'>
								</a>
						</span> 
						<span th:if="${not @miniController.marking}">MARKING
						
							<a href='/mini/change'><img border="0"
								src='/images/mini/OFF.jpg'>
							</a>
						 </span>
							

							<!-- tu daj stred -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menuRight">
			<h2>Top scores</h2>

			<div class="scrollmenu">
				<table>
					<tbody>
						<tr>
							<!-- <th>Date</th> -->
							<th>Player</th>
							<th>Score</th>
						</tr>
						<tr th:each="score : ${@miniController.scores}">
							<!-- <td>today</td> -->
							<td th:text="${score.username}" />
							<td th:text="${score.value}" />
						</tr>
					</tbody>
				</table>
								<h3>Rating</h3>
				<ol>
					<div>
						<a name="rating" href='/mini/rating?rating=1'><img
							src="/images/puzzle/01.jpg" alt="1" style="width: 20px;"></a> <a
							name="rating" href='/mini/rating?rating=2'><img
							src="/images/puzzle/02.jpg" alt="2" style="width: 20px;"></a> <a
							name="rating" href='/mini/rating?rating=3'><img
							src="/images/puzzle/03.jpg" alt="3" style="width: 20px;"></a> <a
							name="rating" href='/mini/rating?rating=4'><img
							src="/images/puzzle/04.jpg" alt="4" style="width: 20px;"></a> <a
							name="rating" href='/mini/rating?rating=5'><img
							src="/images/puzzle/05.jpg" alt="5" style="width: 20px;"></a>
					</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="comments">
		<h3>Comments</h3>
		
		<form action="/mini/comment">
			<textarea name="content"></textarea>
			<input type="submit" value="OK" />
		</form>

		<ol>
			<li th:each="comment : ${@miniController.comment}"><span
				th:text="${comment.username}" /></span> <span> : </span> <span
				th:text="${comment.content}" /></span></li>
		</ol>
	</div>
	<div class="copyright">&copy; copyright MichalKorba</div>
</body>
</html>
