<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {
	background-color: black;
	color: magenta;
}

* {
	margin: 0px;
	padding: 0px;
}

td, tr {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

td:hover {
	background-color: magenta;
}

table {
	background-color: #CDCDCD;
	border-collapse: separate;
	background-color: #CDCDCD;
}

a {
	text-decoration: none;
	color: magenta;
}

a:hover {
	background-color: gray;
	color: magenta;
}

img {
	/* 	width: 1.5em;
	height: 1.5em; */
	overflow: auto;
}
}
</style>
</head>
<body>
	<span th:if="${@miniController.marking}"><p>MARKING</p>
		<p>
			<a href='/mini/change'> <img border="0" src='/images/mini/ON.jpg'
				width="100" height=auto>
			</a>
		</p> </span>
	<span th:if="${not @miniController.marking}"><p>OPENING</p>
		<p>
			<a href='/mini/change'> <img border="0"
				src='/images/mini/OFF.jpg' width="100" height=auto>
			</a>
		</p> </span>
	<div th:if="${not @miniController.solved}">
		<h1>YOU SOLVED MINESWEEPERS</h1>
	</div>
	<div th:if="${@miniController.solved}">
		<div th:utext="${@miniController.htmlField}" />
</body>
</html>
